* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black; 
  border-bottom: 2px solid white;
  z-index:3;
  transition: transform 0.5s ease-in-out;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.name {
  font-size: 3rem;
  font-weight: bold;
  user-select: none;
}

#absoluteName {
  width: 100%;
  margin: 0 15px;
  display:inline;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  user-select: none;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s, background-color 0.3s;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  user-select: none;
}

main {
  z-index: 1;
}

@media (max-width: 650px) {

  .navbar {
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 10px;
    align-items: right;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .navbar a {
    padding: 10px;
  }
  main {
    margin-top: 140px;
  }
}

.navbar a:hover {
  color: black;
  background-color: white;
  transition: 0.7s;
}

#headerTab {
  position: fixed;
  font-size: larger;
  top: 0;
  right: 0;
  width: 15%;
  z-index: 2;
  text-align: center;
  padding: 10px 5px; 
  margin: 15px;
  border-radius: 10px;
  border: 2px white solid;
  user-select:none;
}

#headerTab:hover {
  color: black;
  background-color: white;
  transition: 0.7s;
}

section {
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.lastSection {
  margin-bottom: 0;
}

#about {
  padding: 0 30%;
  border: white solid;
}

#about p {
  text-indent: 30pt;
  padding-top: 1rem;
}

#TextAnalysis {
  border: white solid;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

#TextAnalysis h2 {
  padding-top: 10px;
  padding-left: 10px;
}

#TextAnalysis p {
  margin-bottom: 10px;
  padding-left: 10px;
}

#TextAnalysis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin: 0 1rem;
  padding: 0 1rem;
  z-index: 1; 
}

#TextAnalysis-input {
  width: 100%;      
  max-width: 49%;  
  height: 700px;      
  font-size: 18px;  
  padding: 10px;   
  border: 2px solid white;
  border-radius: 10px;
  flex-wrap: wrap;
  resize: none;

}

#TextAnalysis-output {
  width: 100%; 
  max-width: 49%;
  height: 700px;     
  font-size: 18px;   
  border: 2px solid white;
  border-radius: 10px;
}

@media(max-width: 1000px) {

}

#StockAnalysis {
  border: white solid;
  width: 100vw;
  height: 100vh;
}

#StockAnalysis h2 {
  padding-top: 10px;
  padding-left: 10px;
}

#StockAnalysis p {
  margin-bottom: 10px;
  padding-left: 10px;
}